
/*----------------------------
         CORE STYLES 
-----------------------------*/

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.h2-tag{
    font-size: 30px;
    color: #474747;
}
.paragraph{
    color: #6C6C6C;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
header{
    background: #2D25A0;
    height: 677px;
    width: 100%;
}
/*-----------------------------
         NAV BAR STYLES 
------------------------------*/

nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.menu ul{
    display: flex;
    justify-content: center;
    grid-column-gap: 36px;
    
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 8px;
    
}
.login{
    text-align: center;
    padding: 5px 24px;
    background: #E02C6D;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    border: 0;
}

.login a{
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

.menu ul li a:hover{
    background-color: #E02C6D;
    
    border-radius: 3px;
}


.login:hover{
    background-image: linear-gradient(#E02C6D , #ff9bbe);
}

/*------------------------------
             TOP SECTION  
-------------------------------*/

.headline{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 27px;
}

.headline img{
    width: 95px;
    height: 95px;
    /* position: relative; */

}



.headline-text h1{
    width: 485px;
    height: 230px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;
}

.headline-image img{
    width: 556px;
    height: 456px;
}
.button{
    display: inline-block;
    margin-top: 27px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 24px;
    background: #E02C6D;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: 0;
}
.button a{
    padding-right: 10px;
    text-decoration: none;
    color: white;
}

/*----------------------------- 
            Animation 
-------------------------------*/


.button:hover{
    background-color: white;
    color:#E02C6D ;
    transition: .6s ease-in-out;
}
.button:hover a{
    color: #E02C6D;
    transition: .6s ease-in-out;
}

.football{
    position: absolute;
    width: 3.7%;
    left: 56%;
    top: 270px;
    

}
header:hover .football{
    animation: path 4s ease-in-out infinite;
    transition: transform 3s ;
}
@keyframes path{
    0%{
        left: 55%;
        top: 270px;
        transform: rotatez(760deg);
    }
    25%{
        left: 40%;
        top: 0;
    }
    50%{
        left: 0;
        top: 25%;
    }
    75%{
        left: 40%;
        top: 610px;
    }
    100%{
        left: 56%;
        top: 270px;
    }
}


/*------------------------------
         GRID SECTION  
-------------------------------*/

.our-players{
    margin: 70px 210px ;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.player{
    padding: 15px ;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image img{
    width: 100%;
}
.player-details{
    align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
}
.player-details h2{
    color: #18191F;
    font-weight: bold;
    font-size: 28px;
}
.player-details p{
    color: #6C6C6C;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

/*--------------------------------
         Highlights SECTION 
----------------------------------*/

.copa-highlights{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 156px ;
}
.high-heading{
    width: 469px;
    height: 309px;
}
.high-heading h2{
    font-weight: bold;
    font-size: 48px; 
    color:#2d3239;
    margin-bottom: 0;
}
.high-image img{
    width: 567px;
height: 427px;
}

/*------------------------------

            Videos
------------------------------*/
.recent-match{
  margin-left: 194px;
}
.match-vedio-titel{
    text-align: center;
    font-size: 40px;
    margin-right: 160px;
    margin-top: 100px;
    background-color: #E02C6D;
    border-radius: 50px;
    color: #FFFFFF;

}

.videos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
}

.video-youtube iframe{
    width: 80%;
    border-radius: 10px;
   
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.151);
}

/*-------------------------
     Email Update 
---------------------------*/
.email-update{
background-color: #2D25A0;
height: 250px
}

.email-update h2{
    color: white;
    text-align: center;
    padding-top: 40px;
}

.sub-section{
    text-align: center!important;
  
}

.sub-section input{
    width: 50%;
    padding: 10px 24px; 
    font-size: 16px;
    line-height: 24px;
    border: 0;
}

.condition{
    display: inline-block;
color: white;
width: 60%;
margin-left: 20.30%;

}

.subscribe-button{
    
    margin-top: 27px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 24px;
    background: #E02C6D;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: 0;
}





/*----------------------------------
         FOOTER SECTION  
-----------------------------------*/

footer{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 70px;
}
.footer-logo{
    display: flex;
    justify-content: center;
}
.footer-logo img{
    width: 30%;
}

.icon{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.icon li{
    list-style: none;
    margin: 10px 10px;
    cursor: pointer;
    
}
.icon li a{
    color: #969BAB;;
    background-color: #eeeeee;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    border-radius: 100%;
}
footer p{
    text-align: center;
}


/*---------------------- 
      Midea Quires  
------------------------*/
@media only screen and (max-width:688px){

    header{
        height: 100%;
        width: 100%;
    }
    nav{
        flex-direction: column;
    }
    .menu ul{
        flex-direction: column;
        margin: 0;
    }
    .headline{
        flex-direction: column;
        padding: 0 20px;
    }
    .button{
        margin-bottom: 20px;
    }
    .headline-text h1{
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        font-size: 36px;
        
    }
    .headline-image, .headline-text{
       padding: 0 20px;
    }
 .headline-image img{
    width: 100%;
    height: 100%;
     
 }

    .football{
        visibility: hidden;
    }

    .players {
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        grid-template-rows: auto;
        justify-content: center;
    }


    .copa-highlights {
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        grid-template-rows: auto;
        justify-content: center;
    }

.recent-match{
    align-items: center;
    
}


    .videos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: flex-start;
    }
 
    .video-youtube{
        width: 100%;
    }


.match-vedio-titel{
    display: block;
    width: 80%;
    
    margin-left: 0;
    font-size: 25px ;
   
    margin-top: 0;
}



.email-update{
   width: 100%;
   height: 100%;
align-items: center;
margin: 0;
}








}

    